.sistedes-accordion-header {
	display: inline;
	float: left;
	margin: 0;
  }
  .sistedes-accordion-button {
	height: auto;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 100%;
  }
  .sistedes-accordion-collapsed:after {
	float: right;
	content: "?";
  }
  .sistedes-accordion-expanded:after {
	float: right;
	content: "?"
  }
  .sistedes-accordion-panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease-in-out;
  }